html {
  font-family: Verdana;
  text-align: center;
  background-color: black;
  color: white;
}

header {
  font-weight: normal;
  font-size: 50px;
}

footer {
  text-align: right;
}

p {
  color: gray;
  font-size: 21px;
}

h2 {
  font-weight: 300;
  font-size: 32px;
}

.download {
  color: aquamarine;
  size: 16px;
}

.download a{
  color: aquamarine;
}
